In [2]:
import sqlite3
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
conn = sqlite3.connect('dib_data.db')

# Query data from the database (replace 'table_name' with the name of your table)
query = "SELECT * FROM dib_table"

# Load data into a DataFrame
data = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Split the data into features (X) and target variable (y)
X = data.drop(columns=['birthrate_column_name'])
y = data['birthrate_column_name']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Standardize features by removing the mean and scaling to unit variance
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Initialize and train the model
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

DatabaseError: Execution failed on sql 'SELECT * FROM table_name': no such table: table_name